.BlogPanel
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
    //purple: #4D457A
    width: 55%;
    min-width: 800px;
    margin: 5em 0 0 5em;

    font-family: 'Roboto';
    color: black;

    //border-radius: 50px;


}

#BlogPanelHeading
{
    margin: 1em auto 0em auto;
    font-family: 'Marck Script';
    font-size: 50px;
}