
.aboutpage
{
    font-family: roboto;
    display: flex;
    

}

.aboutpage-content
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5em;
    background-color: #4D457A;
    width: 50em;
    height: 50em;

    border: 10px solid #4D457A;
    border-radius: 50px 5px 50px 5px;

}

.aboutpage-content h2
{
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: "Marck Script";
}

.aboutpage-content hr
{
    width: 75%;
}


.aboutpage-content-about
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    text-align: left;
    width: 90%;
}

.aboutpage-content-about img
{
    width: 13.5em;
    height: 24em;   
    margin: 20px;

    border: 5px solid white;
    border-radius: 25px;
}

.aboutpage-content-about p
{
    font-size: 14px;
    margin-left: 10px;
    color:white;
    font-family: "roboto";
    min-height: 600px;
    height: 60%;
    padding-right: 20px;

    overflow-y: scroll;
}

.tab
{
    margin-left: 20px;
}