.AdminLoginContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 2em 1em;
    color: black;
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: 15px;

    button
    {
        padding: .5em 1em;
        color: white;
        font-family: "Marck Script";
        font-weight: bold;
        font-size: 20px;
        background-color: goldenrod;
        border: none;
        transition: background-color 1s ease-in-out;

        &:hover
        {
            background-color: orangered;
        }
    }

    hr
    {
        width: 60%;
    }

    .LoginInput
    {
        margin: 1em;
        label
        {
            display: inline-block;
            width: 80px;
            text-align: right;
        }

        input
        {
            margin-left: 10px;
        }
    }
}

.AdminPageContainer
{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    width: 100%;
 
    .AdminNav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 1em;
        margin-left: 2em;
        padding: 2em;
    }
    
    .toggleManagerButton
    {
        border: 2px solid black;
        background-color: lightgreen;
    }

    .logoutButton
    {
        background-color: lightcoral;
        border: 2px solid black;
    }

    .BlogPanelsContainer
    {
        margin: 1em;
    }

    .BlogPanels
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2em;
    }
}
