.SelectedPostParent
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 1em;
    box-shadow: 5px 5px 5px black;
    background-color: white;
}

.CommentsSectionContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 430px;
    background-image: linear-gradient(to bottom, white, lightgrey);

    h2
    {
        align-self: center;
    }
}

.SelectedPostContainer
{
    display: flex;
    min-width: 430px;
    width: 100%;
    height: auto;

    flex-direction: column;
    
    
    
    align-items: center;

    button
    {
        background-color:black;
        color: white;
        border: none;
        padding: 1em 2em;
    }

    hr
    {
        width: 100%;
    }
}

.SelectedPost
{
    display: flex;
    flex-direction: column;
    color: black;
    width: 90%;
    justify-content: center;
    align-items: baseline;
}

// .PostGalleryImage
// {
//     height: 50%;
//     width: 100%;
// }