.BlogPostContainer
{
    display: flex;
    flex-direction: column;

    color: black;
    margin: 2em;
    height: 27em;

    padding: 1em 1em 1em 1em;
    border-radius: 10px;

    background-color: white;
    box-shadow: 4px 4px 15px black;
}

.BlogPost
{
    display: flex;
    flex-direction: row;
    
    img
    {
        height: 10em;
        margin: 0 2em 2em 0;
        border-radius: 10px;
        align-self: flex-start;

        box-shadow: 5px 5px 10px 5px #4D457A;
    }
}

Link
{
    align-self: flex-end;  
}

.BlogPostContainer button
{
    
    align-self: flex-end;
    padding: 1.2em;
    min-width: 15em;

    background-color: black;
    color: white;
    border: 1px solid white;
    
}

.BlogPostContainer button:hover
{
    padding: 1.4em;
}

.Post
{
    display: flex;
    flex-direction: column;
}

.PostContentContainer
{
    display: flex;
    flex-direction: column;

    height: 18em;
    width: 90%;
    margin-bottom: 1em;

    color: black;

    border-bottom: 1px solid black;
    border-radius: 0px 0px 50px 50px;
}

.PostHeader
{
    display: flex;
    flex-direction: column;
}

.PostContent
{
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0 4em 0 4em;    

    border: none;
    border-radius: 50px;
    color:black;
}





::-webkit-scrollbar-corner { background: rgba(0,0,0,0.0); }