.SelectedPostContainer
{
    display: flex;
    min-width: 700px;
    width: 60%;
    max-width: 900px;

    flex-direction: column;
    margin: 5em;
    
    background-color: white;
    padding: 1em;
    
    box-shadow: 5px 5px 15px 5px black;
    align-items: center;

    button
    {
        background-color:black;
        color: white;
        border: none;
        padding: 1em 2em;
    }

    hr
    {
        width: 100%;
    }
}

.SelectedPost
{
    display: flex;
    flex-direction: column;
    color: black;
    width: 90%;
    justify-content: center;
    align-items: baseline;
}

// .PostGalleryImage
// {
//     height: 50%;
//     width: 100%;
// }