
.CommentContainer
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1em 0em 1em;
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
    width: 90%;
    min-width: 25em;

    .CommentHeaderContainer
    {
        display: flex;
        flex-direction: row;
        width: 90%;
        min-width: 20em;
        justify-content: space-between;
        align-items: center;

        background-color: lightgray;
        color:black;
        height: 4em;
        

        padding-left: 1em;
        border-radius: 50px;

        button
        {
            padding: .75em 1em;
            margin: 0 1em;
            background-color: black;
            color: white;
        }

        .Voting
        {
            display: flex;
            flex-direction: column;
            button
            {
                color: black;
                background-color: transparent;
            }
        }

    }

    .CommentContent
    {
        background-color: white;
        padding: 1em;
        margin: 1em 0 0 0;
        border-radius: 15px;
        width: 100%;
    }

    p
    {
        padding-left: 1em;
        width: 100%;
    }

    
    .CommentOptions
    {
        ul
        {
            list-style: none;
            display: flex;
            flex-direction: row;
            
            li
            {
                padding: 1em 2em 1em 2em;
                cursor: pointer;

                &:hover
                {
                    border-bottom: 4px solid darkgrey;
                }
            }
        }
    }

    .CommentOptionForm
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 2em 0 2em;

        padding: 2em;
        border-radius: 15px;
        row-gap: 1em;
        width: 90%;   
        
        textarea{
            max-width: 95%;
            width: 95%;
            min-height: 5em;
        }

        button
        {
            color: white;
            background-color: black;
        }
    }
}

.CreateCommentContainer
{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;

    textarea
    {
        width: 100%;
        min-height: 5em;
    }

    button
    {
        background-color: black;
        color: white;
    }

    
}