.PostCycler
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    width: 100%;
    color: black;
    font-family: "marck script";
    font-size: 24px;

    button
    {
        color: black;
        background-color: transparent;
        padding: 5px 10px 5px 10px;
        border-radius: 50px;
        border: none;
        font-size: 24px;
        transition: font-size 1s ease-in-out;

        &:hover
        {
            font-size: 30px;
        }
    }
}

.ByYouPanel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    width: 50%;
    height: auto;

    padding: 2em;
    row-gap: 1em;
}

.ByYouCard
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 3em;
    width: 80%;
    
    height: 11vh;
    transition: height .5s ease-in-out;
    
    &:hover
    {
        height: 55vh;
    }

    .ByYouContent
    {
        display: flex;
        flex-direction: row;
        height: 14em;
    }

    .ByYouHeader
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    p
    {
        overflow-y: scroll;
    }
}

.PostOptions
{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    button
    {
        position: relative;
        border:none;
        border-radius: 50px;
        width: 10%;
        transition: background-color 2s ease-in-out;
        margin-left: 2em;
    }

    .makeVisibleButton
    {
        background-color: lightgreen;
        padding: 1em;
        width: 80px;
        transition: border 2s ease-in-out;
        transition: background-color 2s ease-in-out;

        &:hover
        {
            background-color: rgba(144,238,144,.3);
        }
    }

    .makeInvisibleButton
    {
        background-color: rgba(144,238,144,.3);
        padding: 1em;
        width: 80px;
        transition: border 2s ease-in-out;
        transition: background-color 2s ease-in-out;

        &:hover
        {
            background-color: lightgreen;
        }
    }

    .deleteButton
    {
        background-color: red;
        color: white;
        width: 50px;   
        padding: 5px;     
        margin-top: 70px;

        &:hover
        {
            background-color: darkred;
        }
    }
}

