.byYouPanelContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    min-width: 600px;
    background-color: white;
    margin: 2em;
    padding: 2em;
    border-radius: 15px;
    color: black;
    font-size: 24px;

    
    .PostCycler
    {
        display: flex;
        justify-content: space-between;
        
        button
        {
            color:black;
            background-color: transparent;
            font-size: 24px;

            transition: font-size 1s ease-in-out;

            &:hover
            {
                font-size: 30px;
            }
        }
    }
}