.SelectedByYouParent
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 1em;
    box-shadow: 5px 5px 5px black;
    background-color: white;
    min-width: 700px;

    .GoBackButton
    {
        margin: 2em;
        color: white;
        background-color: black;
    }
}

.SelectedByYouContainer
{
    width: 100%;
    min-width: 600px;
    

    border-radius: 15px;


    button{
        background-color: black;
        color: white;
    }

    .SelectedByYouContent
    {
        padding: 2em;
    }
}

.CommentsSectionContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to bottom, white, lightgrey);

    h2
    {
        align-self: center;
    }

    textarea
    {
        width: 95%;
        max-width: 100%;
    }
}

.Like
    {
        font-size: 24px;
        color: white;
        -webkit-text-stroke: 1px black;
        
        padding: 1em;

        transition: color 1.5s ease-in-out;
        cursor: pointer;

        &:hover
        {
            color: red;
        }
    }