.ForgotPasswordContainer
{
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    background-color: white;
    box-shadow: 5px 5px 15px black;

    align-items: center;
    max-width: 500px;
    width: 60%;

    margin: 2em;
    padding: 2em;

    p
    {
        width: 75%;
        text-align: center;
    }

    button
    {
        color: white;
        background-color: black;
    }

    hr
    {
        width: 75%;
    }

    .InputAlign
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label
        {
            width: 160px;
            text-align: right;
            padding-right: 10px;
        }

        .CodeInput
        {
            font-size: 24px;
            width: 160px;
            height: 24px;
            text-align: center;
        }
    }

    .BackLink
    {
        text-decoration: underline;
        color: blue;

        &:hover
        {
            cursor: pointer;
        }
    }
    
}